{% extends '../base.html' %}

{% load static %}

{% block title %}Nova Tarefa{% endblock  %}

{% block  content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">Adicionando nova Tarefa</h1>
        </div>

        <div class="table-responsive">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Criar Tarefa">
            </form>
        </div>
    </main>
   </div>
</div> 
{% endblock %}