{% extends '../base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock  %}

{% block  content %}
   
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Lista de Tarefas</h1>
            <a class="btn btn-outline-primary" href="newTask/" role="button">Adicionar Tarefa</a>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div {% if message.tags %} class="alert alert-{{message.tags}} fade show"{% endif %}>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>TAREFA</th>
                  <th>ESTADO</th>
                  <th style="text-align: center">AÇÃO</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                  <td><a href="/task/{{task.id}}">{{ task.title }}</a></td>
                  <td>{{task.done}}</td>
                  <td style="width: 15%;">
                      <a class="btn btn-outline-info" href="/edit/{{task.id}}" role="button">Editar</a>
                      <a class="btn btn-outline-danger" href="/delete/{{task.id}}" role="button">Deletar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
        </div>
      </div> 

{% endblock  %}
