{% extends '../base.html' %}

{% load static %}

{% block title %}Detalhes da Tarefa{% endblock  %}

{% block  content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">Detalhes da Tarefa</h1>
        </div>

        <div class="table-responsive">
            <p>{{ task.title }}</p>
            <p>{{ task.description }}</p>
            <p>{{ task.done }}</p>
        </div>
    </main>
      </div>
    </div> 
{% endblock %}